.upload-page__banner{

    padding-bottom: $spacing-07*2;


}

.upload-page__progress {
    padding-top: $spacing-04;
}

.upload-page__label {
    padding-bottom: $spacing-07;
}

.upload-page__library-dropdown {
    padding-top: $spacing-05;
}