.create-library-page__banner{
    padding-bottom: $spacing-07*2;
}

.create-library-page__progress {
    padding-top: $spacing-04;
}

.create-library-page__label {
    padding-bottom: $spacing-07;
}

.create-library-page__library-dropdown {
    padding-top: $spacing-05;
}

.create-library-page__field-actions {
    display: flex;
    align-items: flex-end;
}

.create-library-page__data-icon {
    position: absolute;
    bottom: $spacing-03;
    left: $spacing-03;
}

.create-library-page__field-row {
    padding-bottom: $spacing-04;
}