// this is all temporary for determining the header
// FIXME fix header sizes
.ui-shell__electron-draggable {
    background-color: red;
    width: 50%;
    height: 100%;
    margin: auto;
} 


// TODO make more permanent
.ui-shell__logout-button {
    width: auto;
    padding-left: 10;
    padding-right: 10;
}