.landing-page__table-icon {
    position: absolute;
    bottom: $spacing-03;
    right: $spacing-03;
}

.landing-page__header {
    padding-bottom: $spacing-07;
}

.landing-page__library-header {
    padding-bottom: $spacing-04;
}

.landing-page__library-tile {
    padding-bottom: 0.0625rem;
}