@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import './components/UIShell/ui-shell.scss';

@import './content/LandingPage/landing-page.scss';
@import './content/LibraryPage/library-page.scss';
@import './content/CellInfoPage/cell-info-page.scss';
@import './content/UploadPage/upload-page.scss';
@import './content/CreateLibraryPage/create-library-page.scss';
@import './content/SettingsPage/settings-page.scss';

.bx--content {
    // min-height: calc(100vh - 3rem);
    background-color: $layer;
    padding-left: 0;
    padding-right: 0;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}